[submodule "packages/wsl-items"]
	path = packages/wsl-items
	url = https://github.com/heaven7/wsl-items.git
	ignore = all
[submodule "packages/wsl-alert"]
	path = packages/wsl-alert
	url = https://github.com/heaven7/wsl-alert.git
	ignore = all
[submodule "packages/wsl-useraccounts"]
	path = packages/wsl-useraccounts
	url = https://github.com/heaven7/wsl-useraccounts.git
	ignore = all
[submodule "packages/wsl-core"]
	path = packages/wsl-core
	url = https://github.com/heaven7/wsl-core.git
	ignore = all
[submodule "packages/wsl-theme-base"]
	path = packages/wsl-theme-base
	url = https://github.com/heaven7/wsl-theme-base.git
	ignore = all
[submodule "packages/wsl-settings"]
	path = packages/wsl-settings
	url = https://github.com/heaven7/wsl-settings.git
    ignore = all
[submodule "packages/wsl-i18n"]
	path = packages/wsl-i18n
	url = https://github.com/heaven7/wsl-i18n.git
	ignore = all
[submodule "packages/wsl-translations"]
	path = packages/wsl-translations
	url = https://github.com/heaven7/wsl-translations.git
	ignore = all
[submodule "packages/wsl-fulfiller"]
	path = packages/wsl-fulfiller
	url = https://github.com/heaven7/wsl-fulfiller.git
	ignore = all
[submodule "packages/wsl-locations"]
	path = packages/wsl-locations
	url = https://github.com/heaven7/wsl-locations.git
[submodule "packages/wsl-tasks"]
	path = packages/wsl-tasks
	url = https://github.com/heaven7/wsl-tasks.git
[submodule "packages/wsl-connector"]
	path = packages/wsl-connector
	url = https://github.com/heaven7/wsl-connector.git
