<template name="signup">
    <div class="panel-body">
        test 123
        {{#autoForm collection=users id="signup" method="createuser" type="insert"}}
            <fieldset>
                {{> afQuickField name="username"}}
                {{> afQuickField name="emails"}}
                {{> afQuickField name="profile.gender"}}
                {{> afQuickField name="profile.birthday"}}

            </fieldset>
            <button type="submit" class="btn btn-primary">Insert</button>
        {{/autoForm}}
    </div>
</template>