<template name="signup">
    <div class="panel-body">
        <form id="signup" method="POST">
            <fieldset>
                <label>Username</label><input type="text" name="username">
                <label>Email</label><input type="text" name="email">
                <label>Password</label><input type="password" name="password">
                <label>Confirm password</label><input type="password" name="password_confirmation">
            </fieldset>
            <button type="submit" class="btn btn-primary">Insert</button>
        </form>
    </div>
</template>